<template>
    <div class="row justify-content-center">
        <div v-for="shop in shops" :key="shop._id" class="col-sm-6 col-md-4 col-lg-3 mb-2 shop-container">
            <div class="card">
                <div class="card-header">{{shop.name}}</div>
                <div class="card-body text-center">
                    <img class="img-responsive mb-1" :src="shop.picture">
                    <div class="clear-fix"></div>
                    <div class="btn-group">
                        <button class="btn btn-danger" v-on:click="unlikeShop(shop, $event)"><i class="fas fa-times"></i> Unlike</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                shops: [],
                shop: {
                    _id: null,
                    name: null,
                    picture: null,
                    email: null,
                    city: null,
                    location: null,
                },
                current_page: 1,
                no_more_fetch: false,
            }
        },
        created(){
            this.fetchPreferedShops()
        },
        mounted(){
            this.scroll()
        },
        methods: {
            fetchPreferedShops(){
                if(!this.no_more_fetch){
                    axios
                        .get('api/get-prefered-shops', { params: {page: this.current_page}})
                        .then(result => {
                            let data = result.data
                            let shops = data.data

                            this.shops.push(...shops)

                            if(data.next_page_url === null){
                                this.no_more_fetch = true
                            }else{
                                this.current_page++
                            }
                        })
                }
            },
            scroll(){
                let that = this
                window.onscroll = function(){
                    let el = document.documentElement
                    if((el.scrollTop + window.innerHeight) === el.offsetHeight){
                        that.fetchNearbyShops()
                    }
                }
            },
            unlikeShop(shop, e){
                let button = e.target
                let shopContainer = button.closest('.shop-container')

                axios
                    .post('api/unlike-shop', {id: shop._id})
                    .then(result => {
                        if(result){
                            toastr.success(`Shop ${shop.name} is unliked.`)

                            // A good animation would be better, but I feel lazy atm, it's 00:00am ^,..,^
                            shopContainer.remove()
                        }else{
                            toastr.danger(`Oops! Something's wrong happened.`)
                        }
                    })
            },
        }
    }
</script>
